@using TQMallWeb.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Danh sách loại sản phẩm</h6>
            </div>
        </div>

        <br />
        <div class="card-body px-0 pb-2" ng-init="GetSellers('')">
            <div class="table-responsive p-0">

                @*add product*@
                <a class="btn alert-info bg-gradient-secondary" style="color: white" href="@Url.Action("Create","Category")">Thêm loại sản phẩm</a>



                @*search*@
                @using (Html.BeginForm())
                {
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center col-3">
                        <div class="input-group input-group-outline">
                            <label class="form-label">Nhập từ khóa cần tìm</label>
                            @Html.TextBox("keyword", null, new
                       {
                           @type = "text",
                           @class = "form-control"
                       })

                            <input type="submit" value="Tìm kiếm" class="alert-info bg-gradient-info" style="color: white" />
                        </div>
                    </div>
                }
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên loại</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hình ảnh</th>
                            <th class="text-secondary opacity-7">Tùy chọn</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <!-- Modal -->
                            <div class="modal fade" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc xóa cái <b>@item.Name</b> này không????
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Thôi</button>
                                            <a class="btn btn-danger" href="@Url.Action("Delete", "Category", new {id = item.ID})">Cho bay màu  thôi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <tr>
                                <td class="align-middle text-center">
                                    <p class="text-secondary text-xs font-weight-bold">@item.Name</p>
                                </td>
                                <td class="align-middle text-center">
                                    <img src="@item.Image" height="100" />
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@item.ID">
                                        Xóa
                                    </button>
                                    <a class="btn btn-primary" href="@Url.Action("Update", "Category", new {id = item.ID})">
                                        Update
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div id="container" style="margin-left: 20px">
                    <p></p>
                    <p></p>

                    <div class="pagination" style="margin-left: 400px">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

