@model TQMallWeb.Models.Voucher

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
}

<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Thêm voucher</h6>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
      
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.Sale, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5 input-group input-group-outline">
                        @Html.EditorFor(model => model.Sale, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sale, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5 input-group input-group-outline">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>


                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>